<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Exam Types</h1>
    <%= link_to "New Exam Type",
                new_exam_type_path,
                class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium",
                data: {turbo_frame: dom_id(ExamType.new) } %>
  </div>

  <div class="min-w-full my-8">
    <div class="table font-bold min-w-full">
      <div>Name</div>
      <div>Status</div>
      <div></div>
    </div>

    <%= turbo_frame_tag ExamType.new %>

    <%= turbo_frame_tag "exam_types" do %>
      <div id="exam_types">
        <%= render @exam_types %>
      </div>
    <% end %>
  </div>
</div>
